<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    {{ bootstrap.load_css() }}
</head>
<body class="container">    
    <nav>
        <a class="btn bnt- botton" href="{{ url_for('home') }}">Home</a> 
        <a class="btn bnt- botton"  href="{{ url_for('view_users') }}">Users</a> 
        <a class="btn bnt- botton" href="{{ url_for('add_user') }}">Add User</a>
    </nav>

    {% block content %}{% endblock %}
    {{ bootstrap.load_js() }}
</body>
</html>
